{% extends 'gis/base.html' %}



{% block content %}
    <h1 align="center" style="color: #772953">Thesis topic: Development of a web portal for presenting earthquake observation data
    </h1>
    <div class="starter-template">
        <h3 align="right">
            <strong>Student Ms Kateryna Brudko </strong>
            <br> Taras Shevchenko National University of Kyiv
            <br> @2021
        </h3>

        <p align="justify"> Nowadays, visibility and availability of Internet technologies are the dominant factors that pay attention on majority of the community to choose of this source of information. The introduction of technology and the distribution of knowledge through the visualization and structuring of data on hazardous phenomena is the most effective method of informing community. Prevention and prediction of catastrophic consequences is the main task of monitoring. That is why it is necessary to create a web application for visualization of seismic hazard monitoring data with a combination of modern technologies and their requirements. <br>
            So, Implementing such task is not a trivial task. Solution of this problem is presented by a web portal for visualization monitoring observations of earthquake data. It is extremely important to create cross-platform software. The need of users to access a large amount of data that has geospatial information requires  use of intuitive methods of presentation  geodata, as well as geospatial analysis. </p>

    </div>
{% endblock %}